body {
  background-color: rgb(30, 30, 30);
  color: rgb(180, 187, 188);
}

.header {
  background-color: rgb(60, 60, 60);
  width: 100vw;
  height: 3em;
}

.name-logo {
  float: left;
  padding-top: 1rem;
}

.name-logo > a {
  text-decoration: none;
  font-size: large;
  color:rgb(180, 187, 188);
}

.sidebar {
  height: 100vh;
  width: 15rem;
  float: left;
  background-color: #111;
  font-size: large;
  background-color: rgb(37, 37, 38);
}

.nav-item {
  padding-top: 2rem;
}

.right-arrow {
  font-size: 50px;
  font-weight: lighter;
}

.nav-item > a {
  text-decoration: none;
  font-weight: bolder;
  padding-left: 0.5rem;
  vertical-align: 25%;
  color: rgb(180, 187, 188);
}

.nav-item > a:hover {
  text-decoration: underline;
  color: rgb(191, 197, 19);
}

.regina-picture {
  width: 25rem;
  max-height: auto;
  object-fit: cover;
  object-position: top;
  border-radius: 5%;
  margin-bottom: 1rem;
}

.home {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 3rem;
  color: 	rgb(35, 170, 242);
  background-color: rgb(30, 30, 30);
  margin-left: auto;
}

.about {
  border-color:rgb(46, 46, 46);
  border-style: solid;
  border-width: 2px 0 0 0;
}


@media only screen and (max-width: 700px) {

  .sidebar {
    width: 30%;
  }

  .regina-picture {
    width: 50%;
  }
}


